@import "preflight.css";

textarea,
input {
    font: inherit;
    letter-spacing: inherit;
    word-spacing: inherit;
}

body {
    background-color: rgb(237, 225, 207);
}

.cabacus-app {
    display: none;
}

@media (min-width: 500px) and (min-height: 360px) {
    .cabacus-app {
        /* border: 1px solid #ccc; */
        /* border-radius: 20px; */
        /* overflow: hidden; */
        /* box-shadow: 0 0 10px rgba(0, 0, 0, 0.6); */
        display: block;
    }
}